@model InventarioGEI.Models.Rol

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Rol</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nombreRol" class="control-label"></label>
                <input asp-for="nombreRol" class="form-control" />
                <span asp-validation-for="nombreRol" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="permisoRol" /> @Html.DisplayNameFor(model => model.permisoRol)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="permisoSede" /> @Html.DisplayNameFor(model => model.permisoSede)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="permisoConfiguracion" /> @Html.DisplayNameFor(model => model.permisoConfiguracion)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="permisoRegistro" /> @Html.DisplayNameFor(model => model.permisoRegistro)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="permisoVisualizacion" /> @Html.DisplayNameFor(model => model.permisoVisualizacion)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

