@model InventarioGEI.Models.Rol

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Rol</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombreRol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombreRol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.permisoRol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.permisoRol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.permisoSede)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.permisoSede)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.permisoConfiguracion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.permisoConfiguracion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.permisoRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.permisoRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.permisoVisualizacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.permisoVisualizacion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="idRol" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
