@model IEnumerable<InventarioGEI.Models.Sede>

@{
    ViewData["Title"] = "Sedes";
}

<div class="container-fluid">
    <div class="d-grid gap-2 d-md-flex justify-content-md-between">
        <div class="d-flex align-items-center">
            <form asp-action="Index" method="get">
                <label for="departamentos">Departamento: </label>
                @Html.DropDownList("filter", "Todos")
                <input type="submit" value="Search" class="btn btn-default" />
            </form>
        </div>
        <a asp-action="Create" class="btn btn-primary float-right">Agregar sede</a>
    </div>
    <div style="background-color: white; border-radius: 5px;">
        <table class="table table-hover mt-3">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.nombreSede)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.direccion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.municipio.nombreMunicipio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.municipio.departamento.nombreDepartamento)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombreSede)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.direccion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.municipio.nombreMunicipio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.municipio.departamento.nombreDepartamento)
                        </td>
                        <td>
                            <a class="btn btn-outline-primary btn-sm" asp-action="Edit" asp-route-id="@item.idSede">Editar</a> 
                            <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.idSede">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

