@model IEnumerable<InventarioGEI.Models.GEI>

@{
    ViewData["Title"] = "Index";
}

<div class="row container-title">
    <h3 class="col-3">Gases de efecto invernadero</h3>

    <a asp-action="Create" type="button" class="col-1 btn btn-primary button-create"><i class="fa-solid fa-plus"></i> Crear GEI</a>
</div>
<div>
    <blockquote class="blockquote lead card">
        <p>Los Gases de Efecto Invernadero son gases que absorben y emiten radiación dentro del rango infrarrojo, ayudando a que se presente el efecto invernadero.</p>
    </blockquote>
</div>
<div class="card mb-3 container-main">
    <table class="table table-hover table-main">
    <thead>
            <tr class="tr-head">
                <th class="th-head">
                @Html.DisplayNameFor(model => model.nombreGei)
            </th>
              
                <th class="th-head"></th>
                <th class="th-head"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
                <tr class="tr-body">
                    <td class="td-body-main">
                @Html.DisplayFor(modelItem => item.nombreGei)
                        <br>
                        <small class="text-muted">Creador por: @Html.DisplayFor(modelItem => item.usuario.email)</small>
            </td>
          
                    <td>
                        <a type="button" class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.idGei">
                            <i class="fa-solid fa-pen"></i> Editar
                        </a>
                    </td>
                    <td>
                        <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.idGei">
                            <i class="fa-solid fa-trash"></i> Eliminar
                        </a>
                    </td>
        </tr>
}
    </tbody>
</table>
</div>
