@model InventarioGEI.Models.Categoria

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Categoria</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombreCategoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombreCategoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.enabled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.enabled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.usuarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.usuarios.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.alcance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.alcance.idAlcance)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.idCategoria">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
