@model IEnumerable<InventarioGEI.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

<div class="row container-title">
    <h3 class="col-3">Categorías</h3>

    <a asp-action="Create" type="button" class="col-1 btn btn-primary button-create">Crear categoría</a>
</div>
<div>
    <blockquote class="blockquote lead card">
        <p>Las categorías son el segundo nivel de la clasificación de las fuentes de las emisiones de GEI</p>
    </blockquote>
</div>
<div class="card mb-3 container-main">
    <table class="table table-hover table-main">
        <thead>
            <tr class="tr-head">
                <th class="th-head">
                    @Html.DisplayNameFor(model => model.alcance)
                </th>
                <th class="th-head">
                    @Html.DisplayNameFor(model => model.nombreCategoria)
                </th>
             
                <th class="th-head"></th>
                <th class="th-head"></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr class="tr-body">
                    <td>
                        @Html.DisplayFor(modelItem => item.alcance.nombreAlcance)
                        <br>
                        <small class="text-muted">Creador por: @Html.DisplayFor(modelItem => item.usuarios.email)</small>
                    </td>
                <td class="td-body-main">
                    @Html.DisplayFor(modelItem => item.nombreCategoria)
                </td>
            
                <td>
                    <a type="button" class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.idCategoria">
                        Editar
                    </a>
                </td>
                <td>
                    <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.idCategoria">
                        Eliminar
                    </a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>