@model IEnumerable<InventarioGEI.Models.Alcance>

@{
    ViewData["Title"] = "Index";
}

<div class="row container-title">
    <h3 class="col-3">Alcances</h3>
    @if (ViewBag.numAlcances >= 4)
    {
        <a asp-action="Create" type="button" class="col-1 btn btn-primary button-create" data-bs-toggle="modal" data-bs-target="#exampleModal">Crear Alcance</a>
    } else {
        <a asp-action="Create" type="button" class="btn btn-primary button-create">Crear Alcance</a>
    }
</div>
<div>
    <blockquote class="blockquote lead card p-3">
        <p>Los alcances son el primer nivel de la clasificación de las fuentes de las emisiones de GEI</p>
    </blockquote>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Advertencia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Recuerda que para la última certificación existe un maximo de 3 alcances, ¿Estas seguro de crear un nuevo alcance?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <a asp-action="Create" type="button" class="btn btn-primary button-create">Crear Alcance</a>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3 container-main">
    <table class="table table-hover table-main">
        <thead>
            <tr class="tr-head">
                <th class="th-head">
                    @Html.DisplayNameFor(model => model.nombreAlcance)
                </th>
                <th class="th-head">
                    @Html.DisplayNameFor(model => model.usuario)
                </th>
                <th class="th-head"></th>
                <th class="th-head"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="tr-body">
                    <td class="td-body-main">
                        @Html.DisplayFor(modelItem => item.nombreAlcance)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.usuario.email)
                    </td>
                    <td>
                        <a type="button" class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.idAlcance">
                            Editar
                        </a>
                    </td>
                    <td>
                        <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.idAlcance">
                            Eliminar
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


